<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class = "row">
        <div class = "col-md-6" style = "background-color: black ">
            <b th:text="${user.username}" style = "color: whitesmoke"></b>
            <b style = "color: whitesmoke"> with roles: </b>
            <b th:each="role : ${user.getRoles()}"
               th:text="${role.getName()} + ' '" style = "color: whitesmoke"></b>
        </div>
        <div class = "col-md-6" style = "background-color: black ">
            <p align="right" style = "color: gray"><a th:href="@{/logout}" >Logout</a></p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #f1f1f1; padding: 0;">
    <div class="row no-gutters vh-100">
        <div class="col-2" style="background-color: white; padding-top: 1rem;">
            <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href = "#userPage" role = "tab" data-toggle="tab" aria-selected="true">USER</a>
            </div>
        </div>
        <div class="col-10" style="padding: 1rem 2rem;">
            <div class="tab-content">
                <div class="tab-pane fade show active" role ="tabpanel"  id="userPage">
                    <h1>User information-page</h1>
                    <div class="p-2 pl-4">
                        <h5 class="m-0"> All users </h5>
                    </div>
                    <div class="container-fluid p-4"
                         style="background-color: #ffffff; border-radius: 0 0 5px 5px">
                        <table class="table table-striped">
                            <tr>
                                <th>id</th>
                                <th>userName</th>
                                <th>password</th>
                                <th>roles</th>
                            </tr>
                            <tr>
                                <td th:text="${user.getId()}">id</td>
                                <td th:text="${user.getUsername()}">userName</td>
                                <td th:text="${user.getPassword()}">password</td>
                                <td>
                                    <ul th:each="role : ${user.getRoles()}">
                                        <li th:text = "${role.getName()}"></li>
                                    </ul>
                                </td>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br/>
<hr/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>